<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.seasar.org/kvasir_plugin/4.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.seasar.org/kvasir_plugin/4.0.0 http://www.skirnir.net/~skirnir/kvasir_plugin.xsd"
  id="${pluginId}" name="${pluginName?xml}" version="${pluginVersion}"
  provider-name="${pluginProviderName?xml}">
  <runtime>
    <library name="conf" />
    <library name="${pluginId}-${pluginVersion}.jar">
      <export name="*" />
    </library>
  </runtime>

  <requires>
    <import plugin="org.seasar.kvasir.page" />
    <import plugin="org.seasar.kvasir.page.auth" />
    <import plugin="org.seasar.kvasir.cms" />
    <import plugin="org.seasar.kvasir.cms.pop" />
    <import plugin="org.seasar.kvasir.cms.ymir" />
  </requires>

  <extension point="org.seasar.kvasir.page.pageGards">
    <page-gard id="${pluginShortId}" version="1.0.0" singleton="true" />
  </extension>

  <extension point="org.seasar.kvasir.page.pageGardInstalls">
    <page-gard-install
      gard-id="${pluginId}.${pluginShortId}"
      path-account="/plugins/${pluginShortId}" />
  </extension>

  <extension point="org.seasar.kvasir.cms.pop.pops">
    <pop id="${pluginShortId}Pop" body-type="text/x-zpt"
      body-resource-path="gards/${pluginShortId}/template/${pluginShortId}.html" />
  </extension>

  <extension point="org.seasar.kvasir.cms.ymir.applications">
    <application id="${pluginShortId}Application"
      gard-id="${pluginId}.${pluginShortId}"
      landmark="${pluginId}.${pluginClassName}" />
  </extension>
</plugin>
