<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         id="kvasirBuilder"
         name="%kvasir.builder.name"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true"
            isConfigurable="false">
         <run class="org.seasar.kvasir.eclipse.builder.KvasirBuilder"/>
      </builder>
   </extension>
   <extension
         id="kvasirNature"
         name="%kvasir.nature.name"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run class="org.seasar.kvasir.eclipse.builder.KvasirNature"/>
      </runtime>
      <requires-nature id="org.eclipse.jdt.core.javanature"/>
      <builder id="org.seasar.kvasir.eclipse.kvasirBuilder"/>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="サンプル XML エディター"
            extensions="xml"
            icon="icons/kvasir.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="org.seasar.kvasir.eclipse.editors.XMLEditor"
            id="org.seasar.kvasir.eclipse.editors.XMLEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Kvasir/Sora"
            id="org.seasar.kvasir.eclipse">
      </category>
      <wizard
            category="org.seasar.kvasir.eclipse"
            class="org.seasar.kvasir.eclipse.wizards.NewPluginWizard"
            finalPerspective="org.eclipse.jdt.ui.JavaPerspective"
            icon="icons/kvasir.gif"
            id="org.seasar.kvasir.eclipse.wizards.NewPluginWizard"
            name="プラグイン・プロジェクト"
            preferredPerspectives="org.eclipse.jdt.ui.JavaPerspective,org.eclipse.jdt.ui.JavaBrowsingPerspective,org.eclipse.jdt.ui.JavaHierarchyPerspective"
            project="true">
         <description>
            Kvasir/Soraプラグイン・プロジェクトを作成します。
         </description>
         
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Kvasir/Sora"
            class="org.seasar.kvasir.eclipse.preferences.SamplePreferencePage"
            id="org.seasar.kvasir.eclipse.preferences.SamplePreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.seasar.kvasir.eclipse.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.console.consoleFactories">
      <consoleFactory
            label="Kvasir/Sora"
            icon="icons/kvasir.gif"
            class="org.seasar.kvasir.eclipse.launch.console.KvasirConsoleFactory"/>
   </extension>
   <extension
         point="org.eclipse.ui.console.consolePageParticipants">
      <consolePageParticipant
            class="org.seasar.kvasir.eclipse.launch.console.KvasirConsolePageParticipant"
            id="org.seasar.kvasir.eclipse.launch.console.KvasirConsolePageParticipant">
         <enablement>
            <instanceof value="org.seasar.kvasir.eclipse.launch.console.KvasirConsole"/>
         </enablement>
      </consolePageParticipant>
   </extension>
   <extension
         id="pomMarker"
         name="POM Marker"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.problemmarker"/>
      <super type="org.eclipse.core.resources.textmarker"/>
      <persistent value="true"/>
   </extension>

</plugin>
