<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.seasar.org/kvasir_plugin/4.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.seasar.org/kvasir_plugin/4.0.0 http://www.skirnir.net/~skirnir/kvasir_plugin.xsd"
  id="${pluginId}" name="${pluginName?xml}" version="${pluginVersion}"
  provider-name="${pluginProviderName?xml}">
  <runtime>
    <library name="conf" />
    <library name="${pluginId}-${pluginVersion}.jar">
      <export name="*" />
    </library>
  </runtime>
</plugin>
