<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         id="kvasirBuilder"
         name="%kvasir.builder.name"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true"
            isConfigurable="false">
         <run class="org.seasar.kvasir.plust.builder.KvasirBuilder"/>
      </builder>
   </extension>
   <extension
         id="kvasirNature"
         name="%kvasir.nature.name"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run class="org.seasar.kvasir.plust.builder.KvasirNature"/>
      </runtime>
      <requires-nature id="org.eclipse.jdt.core.javanature"/>
      <builder id="org.seasar.kvasir.plust.kvasirBuilder"/>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="%plust.editor.name"
            extensions="xml"
            icon="icons/kvasir.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="org.seasar.kvasir.plust.form.PluginsFormEditor"
            id="org.seasar.kvasir.plust.editors.PluginsFormEditor">
      </editor>
      <editor
            class="org.seasar.kvasir.plust.editors.MultiPageEditor"
            contributorClass="org.seasar.kvasir.plust.editors.MultiPageEditorContributor"
            extensions="mpe"
            icon="icons/sample.gif"
            id="org.seasar.kvasir.plust.editors.MultiPageEditor"
            name="Sample Multi-page Editor"/>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Kvasir/Sora"
            id="org.seasar.kvasir.plust.category">
      </category>
      <wizard
            category="org.seasar.kvasir.plust.category"
            class="org.seasar.kvasir.plust.wizards.NewPluginWizard"
            finalPerspective="org.eclipse.jdt.ui.JavaPerspective"
            icon="icons/kvasir.gif"
            id="org.seasar.kvasir.plust.wizards.NewPluginWizard"
            name="%NewPluginWizard.NAME"
            preferredPerspectives="org.eclipse.jdt.ui.JavaPerspective,org.eclipse.jdt.ui.JavaBrowsingPerspective,org.eclipse.jdt.ui.JavaHierarchyPerspective"
            project="true">
         <description>%NewPluginWizard.DESCRIPTION</description>

      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Kvasir/Sora"
            class="org.seasar.kvasir.plust.preferences.SamplePreferencePage"
            id="org.seasar.kvasir.plust.preferences.SamplePreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.seasar.kvasir.plust.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.console.consoleFactories">
      <consoleFactory
            label="Kvasir/Sora"
            icon="icons/kvasir.gif"
            class="org.seasar.kvasir.plust.launch.console.KvasirConsoleFactory"/>
   </extension>
   <extension
         point="org.eclipse.ui.console.consolePageParticipants">
      <consolePageParticipant
            class="org.seasar.kvasir.plust.launch.console.KvasirConsolePageParticipant"
            id="org.seasar.kvasir.plust.launch.console.KvasirConsolePageParticipant">
         <enablement>
            <instanceof value="org.seasar.kvasir.plust.maven.internal.KvasirConsole"/>
         </enablement>
      </consolePageParticipant>
   </extension>
   <extension
         id="pomMarker"
         name="POM Marker"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.problemmarker"/>
      <super type="org.eclipse.core.resources.textmarker"/>
      <persistent value="true"/>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="org.seasar.kvasir.plust.decorator.PlustProjectDecorator"
            icon="icons/kvasir-decoration.gif"
            id="org.seasar.kvasir.plust.decorator"
            label="%plust.decorator.label"
            lightweight="true"
            location="BOTTOM_LEFT"
            state="true">
            <enablement>
                <objectClass name="org.eclipse.core.resources.IProject"/> 
            </enablement>
      </decorator>
   </extension>

</plugin>
